<main>
  <div style="float: right; margin-right: 25%; color: green; font-size: 20px; font-weight: bold;">
    <span>
      ניקוד: {{this.currentScore}}
    </span>
  </div>
  <div class="game-step" style="float: right;">
  	משחק <span>{{gameIndex}}</span> מתוך <span>5</span>
  </div>
  <div style="clear: both;"></div>
  <div style="margin-top: 20px; font-weight: bold; font-size: 35px; color: black;">
      הבחירה שלך
  </div>
  <div style="width: 500px; margin-left: 460px; margin-top: 50px;">

  	<div class="button" style="float: right">
  		<a (click)="chooseRed()" class="red-btn red-btnn">red</a>
  	</div>


  	<div class="button" style="float: :right;">
  		<a (click)="chooseYellow()" class="yellow-btn yellow-btnn">yellow</a>
  	</div>

  	<div *ngIf="lookingForOponent">
  		<span style="margin: 0 0 0 0;"><img style="width: 30px; height: 30px;" src="../assets/images/tenor.gif"></span>
  		<span>	...מחכה לבחירה של המתחרה</span>
  	</div>

  </div>
  <scores style="width: 100px;"></scores>
</main>
<div class="oponent-response modal" *ngIf="responseReady">
  <div style="margin-bottom: 18px;">
      :המשתתף השני בחר
  </div>
  <div class="button" *ngIf="userChoices[gameIndex]=='yellow'">
    <a class="yellow-btn" style="cursor: auto;">yellow</a>
  </div>
  <div class="button" *ngIf="userChoices[gameIndex]=='red'">
    <a class="red-btn" style="cursor: auto;">red</a>
  </div>
  <div style="margin-top: 18px;">
    הניקוד שלך במשחק זה : {{getScore(userChoices[gameIndex])}}
  </div>
  <button (click)="nextGame()" style="width: 100px; height: 40px; margin-top: 20px;">המשך</button>
</div>