<div style="text-align: right;" dir="rtl">

<p class="instructions">
הוראות:<br>
למשחק יהיו חמישה סיבובים ובהם תתחרה מול משתתף אחר שאת/ה לא מכירים עדיין.<br>
המשחק הינו פשוט; מטרת המשחק היא לצבור כמה שיותר נקודות.<br>
 המשחק יהיה בתורות כך שלאחר צעד שלך, תמתין לתגובת המשתתף שמולך.<br> לכל אחד מכם תינתן האפשרות לבחור בין הצבע הצהוב לצבע האדום.<br>
  במהלך המשחק תופיע מולך מטריצת התגמולים הבאה:<br>
</p>

<scores></scores>

<span class="instructions">
<div style="float: right; margin-top: 40px; margin-left: 10px">אם ההוראות מובנות לך, הקש/י על כפתור- </div>
<div style="text-align: right; float: right;" dir="rtl">
	<div class="button" style="float: right">
	  	<a  (click)="start()" class="btn" >מצא לי משתתף</a>
	</div>
	<div *ngIf="startClicked" style="float: right; margin-right: 7px; margin-top: 10px;">
		<div>מחפש משתתף למשחק....
		<span *ngIf="!foundOponent" style="margin: 0 0 0 0;"><img style="width: 30px; height: 30px;" src="../assets/images/tenor.gif"></span>
		</div>
		
		<div *ngIf="foundOponent">משתתף נמצא, המשחק מתחיל
					<span *ngIf="foundOponent" style="margin: 0 0 0 0;"><img style="width: 30px; height: 30px;" src="../assets/images/tenor.gif"></span>
		</div>
	</div>
	<div  style="float: right; margin-right: 7px;">
  		
  	</div>
  	<div style="clear: both;"></div>
  
</div>
<div style="clear: both;"></div>
<br>
אם ההוראות אינן ברורות לך, הרם/ הרימי יד והחוקר יבוא להסביר לך<br>
</span>
</div>
