<div>

<p>
  הנך עומד לשחק במשחק דילמת האסיר.<br>
למשחק יהיו חמישה סיבובים ובהם תתחרה מול משתתף אחר שאת/ה מכירים עדיין.<br>
המשחק הינו פשוט; מטרת המשחק היא לצבור כמה שיותר נקודות. המשחק יהיה בתורות כך שלאחר צעד שלך, תמתין <br>לתגובת המשתתף שמולך. לכל אחד מכם תינתן האפשרות לבחור בין הצבע הצהוב לצבע האדום. במהלך המשחק <br>תופיע מולך מטריצת התגמולים הבאה:<br>
 <br>

<br>
אם ההוראות מובנות לך, הקש/י על כפתור- מצא לי משתתף,<br>
אם ההוראות אינן ברורות לך, הרם/ הרימי יד והחוקר יבוא להסביר לך<br>
<br>

</p>
</div>
<scores></scores>
<div style="text-align: right;" dir="rtl">
	<div class="button" style="float: right">
	  	<a  (click)="start()" class="btn" >מצא לי משתתף</a>
	</div>
	<div style="clear: both;"></div>
	<div *ngIf="startClicked">
		<span>מחפש משתתף למשחק....</span>
		<span *ngIf="!foundOponent" style="margin: 0 0 0 0;"><img style="width: 30px; height: 30px;" src="../assets/images/tenor.gif"></span>
	</div>
	<div *ngIf="foundOponent">
  		משתתף נמצא, המשחק מתחיל
  	</div>
  
</div>
