<div dir="rtl">
	<div class="opType1" *ngIf="opType==1">
		<p>
			שלום, <br>
			אתה משתתף במחקר שכולל מטלות קוגניטיביטת.<br>
			למחקר 2 חלקים. בחלק א תשחק במשחק דילמת האסיר מול משתתף אחר, כאשר בשלב זה לא<br>
			תדע מיהו.<br>
			
			לאחר המשחק תעבור לשלב ב&#39;, שם תכיר את השחקן עמו שיחקת ואז תתחרו זה מול זה בביצוע
			<br>
			מטלה קוגניטיבית נוספת, במועד שיתואם לנוחיותכם.<br>
			אנו מודים לך על השתתפותך<br>
		</p>
	</div>
	<div class="opType2" *ngIf="opType==2">
		<p>
			שלום, <br>
			אתה משתתף במחקר שכולל מטלות קוגניטיביטת.<br>
			למחקר 2 חלקים. בחלק א תשחק במשחק דילמת האסיר מול משתתף אחר, כאשר בשלב זה לא<br>
			תדע מיהו.<br>
			לאחר המשחק תעבור לשלב ב&#39;, שם תכיר את השחקן עמו שיחקת ואז תשתפו פעולה יחדיו בביצוע <br>
			מטלה קוגניטיבית נוספת, במועד שיתואם לנוחיותכם.<br>
			אנו מודים לך על השתתפותך<br>
		</p>	
	</div>
	<div class="opType3" *ngIf="opType==3">
		<p>
			שלום, <br>
			אתה משתתף במחקר שכולל מטלות קוגניטיביטת.<br>
			למחקר 2 חלקים. בחלק א תשחק במשחק דילמת האסיר מול משתתף אחר, כאשר בשלב זה לא<br>
			תדע מיהו.<br>
		</p>
	</div>
</div>

<div style="text-align: right;" dir="rtl">
	<div class="button" style="float: right">
	  	<a  (click)="start()" class="btn" >בוא נתחיל</a>
	</div>
	<div style="clear: both;"></div>
</div>
