<div dir="rtl" class="welcome-text">
	<div *ngIf="stage==1">
		<div class="opType1" *ngIf="opType==1">
			<p>
				שלום,<br>
				אתה משתתף במחקר שכולל מטלות קוגניטיביות.<br>
				למחקר 2 חלקים-<br>
				<b>בחלק א&#39;</b> תשחק במשחק בו תוכל לצבור נקודות מול משתתף אחר, שגם מטרתו לצבור נקודות.<br>המטרה שלך היא לצבור כמה שיותר נקודות.<br>
				בכל סיבוב מספר הנקודות שתרוויח יהיה תלוי בבחירה של צבע צהוב מול אדום- ובבחירה שיבחר המשתתף או המשתתפת מולם תוגרל לשחק.<br>
				את המשחק תשחקו במשך 5 סיבובים.<br>
				<br>
				בשלב זה של המחקר לא תדע מי המשתתף עמו תשחק.<br>
				<br>
				עם סיום המשחק תתבקש לענות על שאלון קצר בנוגע למשחק, לתחושותיך ולהעדפותיך.<br>
				לאחר המשחק תעבור <b>לחלק ב'</b>, שם תכיר את השחקן עמו שיחקת ואז תתבקשו לשחק זה עם זה במשחר שמצריך שיתוף פעולה, במועד שיתואם לנוחיותכם.<br>
				<br>
				חשוב לציין כי כל התכנים המופיעים במשחק ובשאלונים כתובים בלשון זכר אך מיועדים לשני המינים כאחד.<br>
				<br>
				אנו מודים לך על השתתפותך,<br>
				צוות המחקר
			</p>
		</div>
		<div class="opType2" *ngIf="opType==2">
			<p>
				שלום,<br>
				אתה משתתף במחקר שכולל מטלות קוגניטיביות.<br>
				למחקר 2 חלקים-<br>
				<b>בחלק א&#39;</b> תשחק במשחק בו תוכל לצבור נקודות מול משתתף אחר, שגם מטרתו לצבור נקודות.<br>
				המטרה שלך היא לצבור כמה שיותר נקודות.<br>
				בכל סיבוב מספר הנקודות שתרוויח יהיה תלוי בבחירה של צבע צהוב מול אדום- ובבחירה שיבחר המשתתף או המשתתפת מולם תוגרל לשחק.<br>
				את המשחק תשחקו במשך 5 סיבובים.<br>
				<br>
				בשלב זה של המחקר לא תדע מי המשתתף עמו תשחק.<br>
				<br>
				עם סיום המשחק תתבקש לענות על שאלון קצר בנוגע למשחק, לתחושותיך ולהעדפותיך.<br>
				לאחר המשחק תעבור <b>לחלק ב'</b>, שם תכיר את השחקן עמו שיחקת ואז תתחרו זה מול זה בביצוע מטלה תחרותית, במועד שיתואם לנוחיותכם.<br>
				<br>
				חשוב לציין כי כל התכנים המופיעים במשחק ובשאלונים כתובים בלשון זכר אך מיועדים לשני המינים כאחד.<br>
 				<br>
				אנו מודים לך על השתתפותך,<br>
				צוות המחקר
			</p>	
		</div>
		<div class="opType3" *ngIf="opType==3">
			<p>
				שלום,<br>
				אתה משתתף במחקר שכולל מטלות קוגניטיביטת.<br>
				במשחק תוכל לצבור נקודות מול משתתף אחר שלא תדע מיהו, שגם מטרתו לצבור נקודות.<br> המטרה שלך היא לצבור כמה שיותר נקודות.<br>
				בכל סיבוב מספר הנקודות שתרוויח יהיה תלוי בבחירה של צבע צהוב מול אדום- ובבחירה שיבחר המשתתף או המשתתפת מולם תוגרל לשחק.<br>
				את המשחק תשחקו במשך 5 סיבובים.<br><br>
				עם סיום המשחק תתבקש לענות על שאלון קצר בנוגע למשחק, לתחושותיך ולהעדפותיך.<br>
				חשוב לציין כי כל התכנים המופיעים במשחק ובשאלונים כתובים בלשון זכר אך מיועדים לשני המינים כאחד.<br>
				 <br>
				אנו מודים לך על השתתפותך,<br>
				צוות המחקר<br>
			</p>
		</div>
		<div style="text-align: right; margin-top: 40px;" dir="rtl">
			<div class="button" style="float: right">
			  	<a  (click)="nextStage()" class="btn" >המשך</a>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
	<div *ngIf="stage==2"> 
		
			<div style="text-align: right; margin-top: 80px;" dir="rtl">
				<p>
משתתף יקר, <br>
<br>
חשוב לציין כי המידע שיאסף ישמש לצורכי המחקר בלבד.<br>
כמו כן, אם בהמשך מסיבה כלשהי אינך רוצה להמשיך להשתתף - תוכל להפסיק את ההשתתפות שלך בכל שלב.<br>
במידה ואינך מסכים להמשיך ולהשתתף, אנא פנה כעת לחוקר שבחדר.	<br>
				</p>
			</div>
			<div style="text-align: right; margin-top: 80px; font-size: 2em;" dir="rtl">
				<input type="checkbox" [checked]="agreed" (change)="agreed = !agreed" name="agree" value="agree">אני מסכים להשתתף במחקר
			</div>
		<div style="text-align: right; margin-top: 80px;" dir="rtl">
		<div class="button" style="float: right">
		  	<a  (click)="start()" *ngIf="agreed" class="btn" >בואו נתחיל</a>
		  	<a class="btn-disabled" *ngIf="!agreed" >בואו נתחיל</a>
		</div>
		<div style="clear: both;"></div>
	</div>
	</div>

</div>

